* {
    padding: 0px;
    margin: 0px;
}

.field-icon {
  float: right;
  margin-left: -45px;
  margin-top: 10px;
  position: relative;
  z-index: 1000;
}


body {
    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#float-right {
    /* background: #e98b8b; */
    background: #f1f1f166;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 40px 75px 0px 30px;
    width: 45%;
    border-radius: 2%;
    animation: page 1s forwards 1;
}
#float-left {
    margin: 0px auto;
}
.image-down img {
    width: 15%;
    animation: down 1s infinite alternate;
}

.col-lg-6 .container {
    margin: 0px auto;
} 

/* #btn {
    display: -webkit-inline-box;
} */
#float-left h3{
    font-size: 50px;
}
#float-left h3, #float-left h6 {
    color: white;
}
.home-btn-hide {
    margin: 0px auto;
    display: none;
}
@media (max-width: 992px) {
    #float-left img {
        width: 40px;
    }
    .login-container {
        position: relative;
        top: -70px;
    }
}
@media (max-width: 767px) {
    /* #btn .col-lg-6 {
        padding-left: 15px;
    } */
    #float-left h3{
        font-size: 27px;
    }
}
@media (max-width: 576px) {
    #float-right {
        border-radius: 0%;
    }
    .home-btn {
        display: none;
    }
    .home-btn-hide {
        display: block;
        padding-bottom: 20px;
    }
    #float-left h3{
        font-size: 27px;
    }
    #float-left h6{
        font-size: 15px;
    }
}
@keyframes page {
    0% {
        width: 45%;
    }
    100% {
        width: 100%;
    }
}

@keyframes down {
    0% {
        transform: translatey()
    }
    100% {
        transform: translatey(-40px);
    }
}